<form method="POST" action=".">
  {% csrf_token %}
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name", name="name" placeholder="Enter Your name..">
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email", name="email" placeholder="Enter Your Email..">
  </div>

  <div class="form-group">
    <label for="phone">Phone</label>
    <input type="text" class="form-control" id="phone", name="phone" placeholder="Enter Your Phone..">
  </div>

  <div class="form-group">
    <label for="summary">Summary</label>
    <textarea class="form-control" id="summary", name="summary" placeholder="Something About You!"> </textarea>
  </div>

  <div class="form-group">
    <label for="university">University</label>
    <input type="text" class="form-control" id="unitversity", name="university" placeholder="Enter Your University..">
  </div>

  <div class="form-group">
    <label for="school">School</label>
    <input type="text" class="form-control" id="school", name="school" placeholder="Enter Your School..">
  </div>


  <div class="form-group">
    <label for="work_experience">Work Experience</label>
    <input type="text" class="form-control" id="work_experience", name="work_experience" placeholder="Enter Your Work Experience..">
  </div>


  <div class="form-group">
    <label for="skills">Skills</label>
    <input type="skills" class="form-control" id="skills", name="skills" placeholder="Enter Your Skills..">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>